@charset "utf-8";
/* FRIENDS 메인 페이지 미디어쿼리  - media.css */

/********** 1000px이하 미디어쿼리 시작 ************/
@media screen and (max-width: 1000px) {

  /* 1.전체 rem단위 글자 변경위한 root 글자크기 변경 */
  html {
    font-size: 10px;
  }

  /* 2.상단영역 중앙박스 */
  .top {
    height: 150px;
    display: flex;
    justify-content: space-evenly
  }

  .gnb {
    margin-top: 103px;
    display: flex;
    margin-right: 0;
}
  
  .gnb ul{
    flex: 1;
  }

  

  #logo {
    /* 보이는 화면 기준으로  */
    left: 50%;
    /* x축 기준으로 자기크기의 50%만큼 왼쪽으로 보냄 */
    transform: translateX(-50%);
    
  }



  .cont {
    display: flex;
    flex-wrap: wrap;
  }
}












/********** 1000px이하 미디어쿼리 끝 ************/


/* 숨기기: GNB메뉴 */
/* .gnb {
  display: none;
} */