@charset "utf-8";
/* FRIENDS 공통디자인 css - main.css */
/* 상단영역, 하단영역 등 공통디자인 */


/* 공통 글씨체 : 나눔고딕 */
body {
  font-family: 'Nanum Gothic', sans-serif;
}

/**************** 1. 상단영역 *****************/
.top {
  height: 120px;
}

/* 1-1. 메인로고  */
#logo {
  padding: 50px;
}

/* 로고이미지 */
#logo img {
  width: 200px;
  vertical-align: bottom;
  /* a요소나 div등으로 이미지를 싸면 하단에 4px공백이 들어감.(인라인요소 세팅때문에 생기는 자연스러운 디폴트 현상)
  이걸 없애려면 vertical-align값을 설정하면 해결됨 
  값으로 top/middle/bottom 뭘 써도 됨 */
}

/* 1-2. GNB메뉴 */
.gnb {
  position: relative;
  /* 부모자격 */
}

.gnb ul {
  position: absolute;
  top: -80px;
  right: 0;
  /* 부모는? .gnb */
}

/* li 리스트요소 */
.gnb li {
  /* 블록요소 옆으로 흐르게 */
  float: left;
  padding: 0 20px;
}

/* GNB메뉴 상위 a요소 */
.gnb>ul>li>a {
  font-family: 'Shadows Into Light', cursive;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: #333;
}

/* GNB메뉴 호버시 */
.gnb>ul>li>a:hover {
  color: #fff;
}

/**************** 2. 메인영역 *****************/
.cont {
  /* 높이값 */
  min-height: calc(100vh - 134px);
}
/**************** 3. 하단영역 *****************/
.info {
  height: 200px;
  position: relative;

  
}

.info ul {
  width: 250px;
  margin: 0 auto;
}

.info li {
/* 왼쪽부터 옆으로 흐르게 */
  float: left;
}

.info ul::after {
  content: '';
  display: block;
  clear: both;
}

.cpr {
  color: #fff;
}