@charset "utf-8";
/* css를 별도 작성하여 외부css로 가져올 때는 여기의 포맷팅을 따로 읽어 html에 적용하므로 캐릭터 셋을 별도로 해주어야 함
자바스크립트는 html파일 안에 집어넣어 돌아가기 때문에 깨지지 않음 */

/* 제주맥주 공통디자인 css - common.css */
/* 상단영역, 하단영역 등 공통디자인 */


/* 공통 글씨체,배경색 */
body {
  font-family: 'Nanum Gothic', 'Malgun Gothic', 'sans-serif';
  color: #3d464b;
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
}

img, video{
  vertical-align: bottom;
}


/**************** 1. 상단영역 *****************/
/* 상단전체영역*/
.wrap {
  max-width: 1200px;
  height: 180px;
  margin: 0 auto;

  display: flex;
  /* 플렉스박스: 로고, 탑메뉴를 가로로 정렬 */
  justify-content: space-between;
 /* 수평정렬속성: 아이템 요소 양쪽끝에 붙고 사이간격 일정 */
  /* background-color: bisque; */
}

.wrap div {
  flex: 1;
  /* wrap의 자식 div들(빈div,로고,탑메뉴)를 등분 */

  padding: 30px 0;
}


/* 1-1.로고 */
.logo img {
  display: block;
  width: 90px;
  margin: 0 auto;
}

/* 1-2.탑메뉴 */
.topmn1,
.topmn2 {
  display: flex;
  /* topmn의 li를 한줄로 나란히 나오게 */
  justify-content: flex-end;
}

/* 1-2.탑메뉴1 */
.topmn1 {
  margin-top: 40px;
}

.topmn1 li {
  padding: 3px 0;
  margin-left: 25px;
}

.topmn1 li a {
  color: #888;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.topmn1 li a:hover {
  color: #ccc;
}

/* 1-2.탑메뉴2 */
.topmn2 {
  margin-top: 20px;
}

.topmn2 li {
  padding: 3px 20px;
  margin-left: 10px;
  border: 1px solid #1ecad3;
  border-radius: 20px;
  background-color: #1ecad3;
}

.topmn2 li:hover {
  background-color: #10adb5;;
}

.topmn2 li a {
  color: #fff;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 15px;
}

/* 1-2. GNB메뉴 */
.gwrap {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.gnb {
  display: flex;
  /* li들을 가로정렬하기 위해 display:flex */
  justify-content: space-evenly;
  /* li 사이간격 띄움(수평정렬속성)
  : 아이템 요소 양쪽과 사이간격 모두일정*/
  padding-top: 10px;
}

.gnb li a {
  color: #55585b;
  font-family: 'Baloo Da 2', cursive;
  font-size: 16px;
  font-weight: bold;
}

.gnb li a:hover {
  color: #1ecad3;
}


/**************** 2. 메인영역 *****************/
.cont {
  
  background-color: lightblue;
}



/**************** 3. 하단영역 *****************/
.info {
  margin: 25px 20px 0 20px;
  background-color: lightyellow;
  color: #999;
}

.btn_wrap {
  display: flex;
}

.btn_wrap div {
  flex: 1;
}

.btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.btn a {
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: #999;
  margin-right: 35px;
  white-space: nowrap;
}

.btn a:hover {
  color: #1ecad3;
}

.btn a:nth-child(7) {
  color: #000;
}
/* 3-2. SNS 메뉴  */
.sns {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.sns a img {
  width: 40px;
  margin-left: 10px;
  vertical-align: middle;
}

.sns a:nth-child(1) img {
  width: 190px;
}

/* 회사주소와 저작권 */
.cpr p:nth-child(1) {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 13px;
}

.cpr p:nth-child(2) {
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 20px 0 50px 0;
}



/* 
	
	3-4. 문의,공유,위로가기 버튼
*/