@charset "utf-8";
/* 제주맥주 공통클래스 css - core.css */
/* 공통클래스, 웹폰트 등 공통 모듈 */


/* CDN 웹폰트 */
/* 구글폰트-select 후 import로 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Do+Hyeon&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Nunito&display=swap');
/*
  1. GNB메뉴, 하단추가정보
  font-family: 'Baloo Da 2', cursive;
  2. 메인배너이미지 내 문구, 하단회사정보
  font-family: 'IBM Plex Sans KR', sans-serif;
  3. 탑메뉴1, 하단저작권
  font-family: 'Nunito', sans-serif;
  4. 탑메뉴2
  font-family: 'Do Hyeon', sans-serif;
*/

/* 마우스로 긁었을 때 */
::selection {
  color: #fff;
  background: #1ecad3;
}