@charset "utf-8";
/* 제주맥주 메인 페이지 css - main.css */

/* 공통사용 외부 css 파일 합치기 :commom/reset/core.css파일을 불러와서 써야하므로 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 전체화면 구현중 공사중 외곽선 표시: body밑의 만들어진 모든 것에 적용 */
body * {
  outline: 1px dashed lime;
}



/******** 2.메인영역 *********/
/* 2-1.동영상 */
.mvid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mvid::before {
  content: '';
  padding-top: 80%;
}


/* 2-2.배너이미지 배경 */
.bgc {
  height: 593px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.larger {
  background-image: url(../images/larger_back.png);
}
.weat {
  background-image: url(../images/weat_back.png);
}
.pellong {
  background-image: url(../images/pellong_back.png);
}
.geomeong {
  background-image: url(../images/geomeong_back.png);
}

/* 비율유지하는 배경이미지 - 사용안함 */
/* .rbx::before {
  content: '';
  display: block;
  padding-top: 35%;
} */
  /* 
    [ 내가 원하는 비율 계산하기 ]
    패딩탑 100%가 부모박스 가로크기의 1:1 비율이므로
    이미지비율을 식으로 쓰면 ...
    가로 : 세로 = 100% : x
    1920 : 540 = 100 : x
    내항의 곱은 외항의 곱과 같다! 비례식!!!
    540*100 = 1920*x
    x = 540*100/1920
      = 2.8125
    이 x값이 패딩탑 %값이다!!!  
  */

/* 비율유지하는 속 내용박스 - 사용안함 */
/* .rbxIn {
  position: absolute;
  /* 앱솔루트가 없으면 패딩은 비율에 맞게 밀고 있는데 위의 패딩탑 때문에 내용이 안에 못 들어가고 바깥에서 밀려있음. 들어올 자리를 앱솔루트가 만들어줌(위로 올라가서 .rbx에 부모자격 줘야함)  *
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* 부모는 반드시 .rbx여야 함!! *

  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
} */

/* 배너이미지 4개 높이 */
/* .mainTop>div:nth-child(1)~div{
  height: 593px;
} */


/* 라거 배너이미지 속박스 */
.larger .cat {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}
/* 위트/펠롱/거멍 배너이미지 속박스 */
.cat {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 110px;
}

/* 2-3. 타이틀이미지 */
/* 라거 타이틀이미지 */
.larger .tit img {
  width: 200px;
}
/* 위트/펠롱/거멍 타이틀이미지 */
.tit img {
  width: 350px;
}


/* 아이템이미지+설명 */
.des {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 2-4. 아이템이미지 */
.des img{
  width: 200px;
}

/* 2-5. 제품설명 */
.des p {
  margin: 0;
  padding: 50px 0 0 46px;
  color: #fff;
  font-size: 18px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  text-align: left;
}


/* 내용세팅: 이미지 -> 사용안함 */
/* .cat div:nth-child(1) img {
  position: absolute;
  width: 200px;
  top: 0;
}
.cat div:nth-child(2) img {
  position: absolute;
  width: 200px;
} */



/* 2-6. 판매처 이미지 슬라이드 */
.mainBtm {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.slide.title {
  color: #1ecad3;
  font-size: 20px;
  font-family: 'Gowun Dodum', sans-serif;
  margin-bottom: 30px;
}



/**** 미디어쿼리 991px 시작 ****/
@media screen and (max-width: 991px) {
  
.mainTop>div:nth-child(1)~div {
  height: 694px;
}

/* 속박스 */
.larger .cat {
  padding-top: 50px;
}
.cat {
  padding-top: 50px;
}

.des {
  flex-direction: column;
  justify-content: center;
}
.tit img {
  width: 150px;
}
.des p {
  width: 300px;
  margin: 0 auto;
}
.bgc {
  background-position: right;
}


}

/**** 미디어쿼리 991px 끝 ****/

/**** 미디어쿼리 766px 시작 ****/
@media screen and (max-width: 766px) {
  .mainTop>div:nth-child(1)~div {
  height: 662px;
}
}

/**** 미디어쿼리 766px 끝 ****/