@charset "utf-8";
/* 제주맥주 메인 페이지 미디어쿼리  - media.css */

/********** 991px이하 미디어쿼리 시작 ************/
@media screen and (max-width: 991px) {

  /* 1. 상단영역 */
  /* 숨기기: 사이즈줄면 모두 안보이게
  (로고, GNB메뉴, 탑메뉴) */
  .logo,
  .topmn1,
  .topmn2 {
    display: none;
  }


  /* 상단영역높이값 */
  .top {
    height: 50px;
  }

  /* 작은로고 보이게하기 */
  .slogo img {
    display: block;
    width: 95px;
    outline: 1px solid red;
  }

  .wrap div {
    margin: -15px 10px;
  }

  /* 햄버거버튼 보이게함 */
  .ham {
    /* 포지션이 앱솔루트이면 기본 block이다! */
    display: block;
  }

  /* 2. 메인영역 */
  /* 배경이미지 4개 */
  .mainTop>div:nth-child(1)~div {
    background-position: left;
    height: 638px;
  }


  /* 속박스 */
  .des {
    flex-direction: column;
    justify-content: center;
  }

  /* 라거 타이틀이미지 작아짐*/
  .larger .tit img {
    width: 130px;
  }

  /* 위트/펠롱/거멍 타이틀이미지 작아짐 */
  .tit img {
    width: 320px;
  }

  /* 2-4. 아이템이미지 */
  .des img {
    width: 170px;
  }

  .des p {
    width: 480px;
    margin: 0 auto;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
  }



  /* 제품설명 줄바꿈 제대로 나오게 */
  .des p .aa {
    display: inline-block;
  }

  /* 판매처 */
  .stit {
    color: #1ecad3;
    font-size: 2rem;
    font-family: 'Gowun Dodum', sans-serif;
    margin-bottom: 30px;
  }

  .slist li img {
    width: 30vw;
    
  }
}

/********** 991px이하 미디어쿼리 끝 ************/


/********** 766px이하 미디어쿼리 시작 ************/



/********** 766px이하 미디어쿼리 끝 ************/