@charset "utf-8";
/* css를 별도 작성하여 외부css로 가져올 때는 여기의 포맷팅을 따로 읽어 html에 적용하므로 캐릭터 셋을 별도로 해주어야 함
자바스크립트는 html파일 안에 집어넣어 돌아가기 때문에 깨지지 않음 */

/* 두잇 공통디자인 css - common.css */
/* 상단영역, 하단영역 등 공통디자인 */


/* 공통 글씨체 */
body {
  font-family: 'Questrial','KoPubDotum','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  color: #404040;
  font-size: 14px;
  line-height: 1.9;
  font-weight: normal;
  font-style: normal;
}


/**************** 1. 상단영역 *****************/
.top {
  /* 높이값 */
  height: 100px;
}

/* 1-1. 메인로고  */
#logo {
  position: absolute;
  padding: 20px 50px;
}

/* 로고이미지 */
#logo img {
  width: 89px;
  vertical-align: bottom;
  /* a요소나 div등으로 이미지를 싸면 하단에 4px공백이 들어감.(인라인요소 세팅때문에 생기는 자연스러운 디폴트 현상)
  이걸 없애려면 vertical-align값을 설정하면 해결됨 
  값으로 top/middle/bottom 뭘 써도 됨 */
}

/* 1-2. GNB메뉴 */
.gnb {
  /* 가로크기 */
  width: 634px;
  float: right;
  margin-top: 25px;
  margin-right: 50px;

  outline: 1px dashed red;
 
}

/* li 리스트요소 */
.gnb li {
  /* 블록요소 옆으로 흐르게 */
  float: left;
  height: 25px;
  /* 부모박스에 세로값25px를 주면 고정되므로 서브메뉴가 아래로 감 */
}

/* 서브메뉴 */
.smenu {
  position: absolute;
  /* 젠틀앱솔루트!!
  -> li 박스안에 그대로 있고 위에 있는 형제 a요소도 존중해서 그 아래에 그대로 위치하고 있다 */

  /* 가로크기설정: 부모박스 크기에 영향이 안가도록, 프로그램소개 서브메뉴에서 크기 찾음 */
  width: 150px;
  /* 노랩박스 만들기: 공백속성 싸지마! 박스가 좁아도 박스 안 글자가 밑으로 안 떨어지게(프로그램 소개 서브메뉴가 길어서 밑으로 떨어지니까) */
  white-space: nowrap;
}
/**************** 2. 메인영역 *****************/
.cont {
  /* 높이값 */
  height: 2340px;
}



/**************** 3. 하단영역 *****************/
.info {
  /* 높이값 */
  height: 315px;
}