@charset "utf-8";
/* 두잇 메인 페이지 css - main.css */

/* 공통사용 외부 css 파일 합치기 :commom/reset/core.css파일을 불러와서 써야하므로 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 전체화면 구현중 공사중 외곽선 표시: body밑의 만들어진 모든 것에 적용 */
body * {
  outline: 1px dashed lime; 
}




/******** 2.메인영역 *********/
/* 배너이미지 */
.galley {
  width: 100%;
  background-color: #fff;
  
  display: flex;
  justify-content: center
}

.galley span {
  margin: 5px 7px;
}